<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.4/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">E-Mail-Archiv</label>
    <label lang="en">Mail Log</label>

    <version>1.1.0</version>
    <link>http://www.deezin.de</link>
    <author>Deezin</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Initiale Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de"><![CDATA[
        - Update für Shopware Version 5.4<br />
        - Cron-Job zum Löschen alter E-Mails hinzugefügt (basierend auf Konfigurationswert)<br />
        ]]></changes>
        <changes lang="en"><![CDATA[
        - Updated for Shopware 5.4<br />
        - Added a cron job to delete old mails (based on the config setting)<br />
        ]]>
        </changes>
    </changelog>
</plugin>