<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.4/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="number">
            <name>maillog_interval</name>
            <label lang="de">Höchstalter von Mails</label>
            <label lang="en">Maximum age of mails</label>
            <value>0</value>
            <description lang="de">Bitte geben Sie hier an, nach welcher Zeit (in Tagen) eine Mail aus dem Mail-Log gelöscht werden soll. (0 = nie)</description>
            <description lang="en">Please enter the amount of days after a mail will be deleted from the mail log. (0 = never)</description>
        </element>
    </elements>
</config>